<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>Reactive Form</h1>
    <p>Create Form & Validation</p>
</div>
<div class="row">
    <div class="col-8">
        <form class="row g-3" [formGroup]="studentForm">
            <div class="col-md-4">
                <label class="form-label">First name</label>
                <input type="text"  class="form-control" formControlName="firstName">
                <div class="text-danger">
                    @if(studentForm.controls['firstName'].touched && studentForm.controls['firstName'].errors?.['required']){
                        <span>this is required</span>
                    }
                    @else if( studentForm.controls['firstName'].touched && studentForm.controls['firstName'].errors?.['minlength']){
                         <span>min char 4 required</span>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <label class="form-label">Last name</label>
                <input type="text"  class="form-control" formControlName="lastName">
            </div>
            <div class="col-md-4">
                <label class="form-label">Username</label>
                <div class="input-group">
                    <span class="input-group-text"><span>&#64;</span> </span>
                    <input  type="text" class="form-control" formControlName="userName">
                </div>
                @if(studentForm.controls['userName'].touched && studentForm.controls['userName'].errors?.['email']){
                  <span class="text-danger">email not proper</span>
                }
                
            </div>
            <div class="col-md-6">
                <label class="form-label">City</label>
                <input type="text"  class="form-control" formControlName="city">
            </div>
            <div class="col-md-3">
                <label class="form-label">State</label>
                <select class="form-select" formControlName="state" >
                    <option selected disabled value="">Choose...</option>
                    <option>Maharashtra</option>
                    <option>Goa</option>
                    <option>Punjab</option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label">Zip</label>
                <input type="text"  class="form-control" formControlName="zipcode">
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input"  type="checkbox" formControlName="isAcceptTerms">
                    <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                    </label>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-secondary" type="button" >Reset form</button>
                <button class="btn btn-primary mx-2" type="button" [disabled]="studentForm.invalid"  (click)="onsave()">Submit </button>
            </div>

    <!-- printing the form in objecttype we can use this div  -->
            <div class="col-4">
        {{formvalue|json}}  
    </div>
        </form>

    </div>
    
</div>